html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 2rem;
}

main {
  min-height: 100vh;
  padding: 1rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 2rem;
  display: flex;
  text-align: center;
}

@keyframes go {
  100% {
    transform: rotateX(90deg) translateY(-22px);
  }
}

.flip-animate {
  perspective: 1000px;
}
.flip-animate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  animation: go 0.5s;
}
.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}